@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2');
    font-display: swap;
}
:root{
    --norse-font: 'Norse';
    --generic-font: sans-serif, Roboto, system-ui, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --color-grn: #596D48;
    --border-font-color: #E5E7EB;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;              
}

img[src$="avif"]{
    margin: 0;
    padding: 0;
    height: inherit;
    width: 40vw;
}
img[src$="png"]{
    height: 90%;
    margin: 0;
    padding: 0;
}
#container{
    height: inherit;
    position: relative;
    margin: 0;
    padding: 0;
}
#bg{
    position: absolute;
    top: 160px;
    background-color:rgba(0, 0, 0, 0.5);
    height: 15%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--norse-font);
    font-size: 5rem;
}
main{
    display: flex;
    flex-direction: row;
}
h3{
    font-family: var(--generic-font);
    font-size: 1.5rem;
}
#text-header{
    background-color: rgb(245, 245, 245);
    width: calc(100vw - 40vw);
    height: 30vh;
    margin: 0;
    padding: 8.2rem 0 0 3rem;
    font-weight: 300;
}
.form-layout{
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
}

form{
    width: 50%;
    margin-left: 3rem;
}
#formular{
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
    height: 40vh;
}
#formular > h3{
    padding: 0 0 0 3rem;
}
input{
    width: 200px;
    height: 20px;
    border: 1px solid var(--border-font-color);
    border-radius: 3px;
    background-color: rgba(254, 254, 254);
}
label{
    font-family: var(--generic-font);
    font-weight: 600;
    font-size: 0.8rem;
    color: rgba(89, 94, 98);
}
form > .form-layout:nth-child(3) > div> input:invalid{
    border: 1px solid rgb(171, 101, 102);
}
input:focus{
    border: 1px solid blue;
    outline: none;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
}
#form-container > div:nth-child(3) > button{
    background-color: var(--color-grn);
    color: white;
    border: none;
    font-family: var(--generic-font);
    font-size: 1rem;
    font-weight: 600;
    width: 15rem;
    height: 3rem;
    border-radius: 10px;
    cursor: pointer;
}
#form-container > div:nth-child(3){
    margin-left: 3rem; 
    margin-top: 3rem;
}
#form-container > div:nth-child(3) > p{
    font-family: var(--generic-font);
    margin-top: 2rem;
}
#form-container > div:nth-child(3) > p > span{
    color: var(--color-grn);
    font-weight: 600;
}
#container > p{
    color: white;
    position: absolute;
    bottom: 0.5rem;
    left: 12rem;
    font-family: var(--generic-font);
    font-size: 1rem;
    opacity: 0.7;
}
a{
    color: white;
}







